body{
    background-color:#FFf;
}

.headercon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: rgb(241, 42, 165);
    height: 80px;
    padding-bottom: 10px;
}
.headercon h1{
    padding: 15px;
    margin-top:8px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: 200; 
    line-height: 1.2;
    text-align: left;
    letter-spacing: 1px;
}

.headercon nav{
    padding-left: 20px;
    padding-top: 15px;
    background-color: white;
}

.headercon nav ul {
    display: flex;
    font-weight: 200;
    margin-right: 10px;
    text-align: center;
}

.headercon li a{
    color: rgb(241, 42, 165);
    font-size: 20px;
    padding: 8px ;
    margin: 20px 10px 0px 0px;
    line-height: 1.2;

}
.headercon a:hover{
    background-color: rgb(248, 213, 16);
}

.hero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.buttoncon{
    position: fixed;
}

.button{
    background-color:rgb(248, 225, 225);
    color: rgb(241, 42, 165);
    font-weight: 300;
    padding: 10px;
    height: 40px;
    margin-right: 300px;
    font-size: 15px;
}
.aboutme{
    margin: 60px 30px 30px 30px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.aboutme h2{
    font-size: 70px;
    font-weight: 200;
    letter-spacing: 4px;
    color: rgb(241, 42, 165);
    padding:5px;
    order: 1;
}

.aboutme img{
    max-height: 450px;
    max-width: 450px;
    order: 2;
    padding:20px;
    
}
.aboutme p{
    line-height: 1.25;
    font-size:30px;
    margin-left: 20px;
    padding:10px;
    text-align: center;
    font-weight: 200;
    order: 3;
}

.button2{
    background-color:white;
    color: rgb(241, 42, 165);
    font-weight: 300;
    padding: 10px;
    height: 40px;
    font-size: 20px;
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    order: 4;
}

.button:hover{
    background-color: rgb(248, 213, 16);
}
.button2:hover {
   border-bottom: solid rgb(248, 213, 16);
}

.button3:hover {
    text-decoration: underline solid rgb(248, 213, 16);
 }

.mywork {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color:#FFC6C6 ;
}

.imgcont{
    display: flex;
    justify-content:space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    
}

.imgcont img{
    flex-wrap: wrap;
    max-width: 150px;
    max-height:150px;
    margin-bottom: 20px;
    background-color: white;
}

.mywork h3{
    text-align:center;
    letter-spacing: 5px;
    padding: 40px;
    font-size: 70px;
    font-weight: 100;
    color: rgb(241, 42, 165);
    background-color: white;
}
.mywork p{
    line-height: 1.25;
    font-size:25px;
    margin:0px;
    text-align: center;
    font-weight: 200;
    color: rgb(241, 42, 165);
    background-color: white;
    padding:15px 50px 30px 50px;
}
.mywork .button3{
    background-color:white;
    color: rgb(241, 42, 165);
    font-weight: 300;
    padding: 10px 30px 30px 30px;
    font-size: 20px;
    text-align: right;
}

.contactme2{
    height:auto;
    display: flex;
    align-items: center;
    padding: 30px;
    background-color:#FFC6C6;
}
.contactme2 h2{
    text-align:right;
    line-height: 1.2;
    margin-right: 50px;
    font-size: 40px;
    font-weight: 400;
    padding: 30px;
    color: rgb(241, 42, 165);
    border-right: solid thin rgb(241, 42, 165);;
}
.contactme2 p{
    line-height: 1.25;
    font-size:30px;
    text-align: left;
    font-weight: 200;
}

@media screen and (max-width: 706px) {
    

}